<div class="container">
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="createemploye">Create Employee</a>
       </li>
        <li class="nav-item">
            <a class="nav-link"routerLink="/list">Employee List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/dynamicform">DynamicForm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
          
        </li>
        
      </ul>
    </div>

    <div class="mt-5">
        <router-outlet></router-outlet>
    </div>
  
  </div>