<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register-form">
  <div class="form">
    <div class="note">
      <p>This is a User Register Form </p>
    </div>

    <div class="form-content">
      <form [formGroup]="userRegister" (ngSubmit)="registerUser()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Name *" value="" formControlName="fullName"/>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Enter Email *" value="" formControlName="email"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Phone Number *" value="" formControlName="mobile"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Your Password *" value="" formControlName="password"/>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Confirm Password *" value=""formControlName="cpassword" />
            </div>
          </div>
        </div>
        <button type="submit" class="btnSubmit">Submit</button>
      </form>
    </div>
  </div>
</div>